@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;

  --pink-light-text: #E66590;
  --pink-dark-text: rgb(192, 32, 144);
  --pink-light-bg: #E66590;
  --pink-dark-bg: rgb(192, 32, 144);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.tilt-neon-font {
  font-family: 'Tilt Neon', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    'XROT' 0,
    'YROT' 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes neonGlow {
  0% {
    text-shadow:
      0 0 3px #E66590,
      0 0 8px #E66590,
      0 0 10px #E66590,
      0 0 15px #E66590;
    text-color: black;
  }
  50% {
    text-shadow:
      0 0 5px #E66590,
      0 0 10px #E66590,
      0 0 20px #E66590,
      0 0 22px #E66590;
  }
  100% {
    text-shadow:
      0 0 3px #E66590,
      0 0 8px #E66590,
      0 0 10px #E66590,
      0 0 15px #E66590;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.neon-text {
  color: #E66590;
  animation: neonGlow 0.5s ease-in-out infinite alternate;
}

.pinkText {
  color: var(--pink-light-text);
}

.darkText {
  color: var(--pink-dark-text);
}

.bgPink {
  background-color: var(--pink-light-bg);
}

.bgDark {
  background-color: var(--pink-dark-bg);
}

button:hover {
  background-color: var(--pink-dark-bg);
}

.alert {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: auto;
  max-width: 600px;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  font-weight: 700;
  z-index: 9999;
  animation: fadeIn 0.5s forwards;
  border-radius: 1rem;
}


.alert.success {
  background-color: #E66590;
  color: #171717;
}

.alert.warning {
  background-color: #ef9400;
  color:rgb(2, 2, 2);
}

.alert.error {
  background-color: #ec4d2b;
  color:rgb(14, 13, 13);
}

.alert .close {
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  padding: 0.25rem;
  border-radius: 50%;
  cursor: pointer;
  color:rgb(67, 66, 66);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
}

.alert .close:hover {
  background-color: rgb(192, 32, 144);
}
